/* vim: set ts=4 sw=4 noet : */
header {
	width: 75%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	border-bottom: solid 2px;
	justify-items: center;
	margin: 0 auto;
}
header h3 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.grid_left {
	grid-row: 1;
}
.grid_right {
	grid-column: 12;
	grid-row: 1;
}
.container {
	display: grid;
	grid-template-columns: 25% 1fr;
	grid-gap: 10px;
	margin: 0 auto;
}
.container > * {
	min-width: 0;
}
.narrow_column {
	grid-column: 1 / span 4;
	grid-row: 1;
	max-width: 100%;
}
.wide_column {
	grid-column: 2 / span 4;
	grid-row: 1;
	max-width: 100%;
}
ul.logged_in_list {
	list-style: none;
}
.logged_in_list li {
	display: inline-block;
	vertical-align: middle;
}
.logfile {
	max-width: 100%;
	overflow: hidden;
}
.logfile pre {
	font-size: 12px;
	padding: 1px 3px;
	color: default;
	border: 1px solid #e1e1e8;
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	-webkit-tab-size: 4;
	background-color: #f7f7f9;
	border-radius: 3px;
	font-family: monospace;
	white-space: pre;
	margin: 1em 0px;
	overflow-x: scroll;
}
