<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" media="all" href="/static/css/simple-grid-min.css" />
		<link rel="stylesheet" media="all" href="/static/css/main.css" />
	<body>
		<div id="app" class="main container">
		</div>
	</body>
	<script src="/static/js/vue.js"></script>
	<script src="/static/js/vue-resource-min.js"></script>
	<script src="/static/js/app.js"></script>
	<script>
		main();
	</script>
</html>
<!-- vim: noet ts=4 sw=4:
-->
