<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		xXx SCREAM templates/includes/_dashboard_css.html xXx
	<body>
		xXx SCREAM templates/includes/_dashboard_header.html xXx
		<div id="app" class="main">
			<div class="container">
				<div class="narrow_column">
					<h3>Project xXx @project.name xXx</h3>
					<ul>
						<li>
							<a href="/app/project/xXx @project.id xXx/keys">Manage API Keys</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
<!-- vim: noet ts=4 sw=4:
-->
