<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		xXx SCREAM templates/includes/_dashboard_css.html xXx
	<body>
		xXx SCREAM templates/includes/_dashboard_header.html xXx
		<div id="app" class="main">
			<div class="container">
				<div class="narrow_column">
					<h3>Projects</h3>
					<ul>
						xXx LOOP project PROJECTS xXx
							<li>
								<a href="/app/project/xXx @project.id xXx">xXx @project.name xXx</a>
							</li>
						xXx BBL xXx

						<li><a href="/app/new_project">Add New &raquo;</a></li>
					</ul>
				</div>
				<div class="wide_column">
					<h4>Latest Events</h4>
					<div class="logfile">
						<pre></pre>
					</div>
				</div>
			</div>
		</div>
	</body>
	xXx SCREAM templates/includes/_js.html xXx
</html>
<!-- vim: noet ts=4 sw=4:
-->
