<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" media="all" href="/static/css/simple-grid-min.css" />
		<link rel="stylesheet" media="all" href="/static/css/main.css" />
		<link rel="stylesheet" media="all" href="/static/css/dashboard.css" />
	<body>
		<div id="app" class="main">
			<header>
				<div class="grid_left">
					<h3>logproj</h3>
				</div>
				<div class="grid_right">
					<ul class="logged_in_list">
						<li><a href="#">xXx @user.email_address xXx</a></li>
						<li><a href="/app/logout">Logout</a></li>
					</ul>
				</div>
			</header>
			<div class="container">
				<div class="narrow_column">
					<h3>Projects</h3>
					<ul>
						<li><a href="#">Project A</a></li>
						<li><a href="#">Project B</a></li>
						<li><a href="#">Project C</a></li>
					</ul>
				</div>
				<div class="wide_column">
					<p>This is example project data over here.</p>
					<div class="logfile">
						<pre>
Mar 10 11:35:35 [~] Listening on http://localhost:8666/
Mar 10 11:35:35 [-] Purged old socket queue.
Mar 10 11:35:35 [-] Purged old handled queue.
Mar 10 11:35:35 [-] Acceptor thread started.
Mar 10 11:35:35 [-] Responder thread started.
Mar 10 11:35:35 [-] Worker thread 0 started.
Mar 10 11:35:35 [-] Worker thread 1 started.
Mar 10 11:35:36 [~] Worker 0: Handling response.
Mar 10 11:35:36 [!] Could not parse content length.
Mar 10 11:35:36 [-] Calling handler for lp_app_logout.
Mar 10 11:35:36 [~] NOIP "GET /app/logout" 200 1007 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:36 [-] Calling cleanup for lp_app_logout.
Mar 10 11:35:36 [~] Responder: Response sent.
Mar 10 11:35:36 [-] Acceptor: Number of items on the queue: 0
Mar 10 11:35:36 [~] Worker 1: Handling response.
Mar 10 11:35:36 [~] Worker 0: Handling response.
Mar 10 11:35:36 [!] Could not parse content length.
Mar 10 11:35:36 [-] Calling handler for lp_generic_static.
Mar 10 11:35:36 [~] NOIP "GET /static/css/simple-grid-min.css" 200 1658 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:36 [-] Acceptor: Number of items on the queue: 2
Mar 10 11:35:36 [~] Worker 1: Handling response.
Mar 10 11:35:36 [-] Calling cleanup for lp_generic_static.
Mar 10 11:35:36 [~] Responder: Response sent.
Mar 10 11:35:36 [!] Could not parse content length.
Mar 10 11:35:36 [-] Calling handler for lp_generic_static.
Mar 10 11:35:36 [~] NOIP "GET /static/css/main.css" 200 1263 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:36 [-] Acceptor: Number of items on the queue: 1
Mar 10 11:35:36 [~] Worker 0: Handling response.
Mar 10 11:35:36 [-] Calling cleanup for lp_generic_static.
Mar 10 11:35:36 [~] Responder: Response sent.
Mar 10 11:35:36 [!] Could not parse content length.
Mar 10 11:35:36 [-] Calling handler for lp_generic_static.
Mar 10 11:35:36 [~] NOIP "GET /static/css/dashboard.css" 200 733 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:36 [-] Acceptor: Number of items on the queue: 0
Mar 10 11:35:36 [-] Calling cleanup for lp_generic_static.
Mar 10 11:35:36 [~] Responder: Response sent.
Mar 10 11:35:36 [!] Could not parse content length.
Mar 10 11:35:36 [-] Calling handler for lp_generic_static.
Mar 10 11:35:36 [~] NOIP "GET /static/js/vue-min.js" 200 93670 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:36 [-] Acceptor: Number of items on the queue: 0
Mar 10 11:35:36 [-] Calling cleanup for lp_generic_static.
Mar 10 11:35:36 [~] Responder: Response sent.
Mar 10 11:35:36 [~] Worker 1: Handling response.
Mar 10 11:35:36 [!] Could not parse content length.
Mar 10 11:35:36 [-] Calling handler for lp_generic_static.
Mar 10 11:35:36 [~] NOIP "GET /static/js/dashboard.js" 200 2275 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:36 [-] Acceptor: Number of items on the queue: 0
Mar 10 11:35:36 [-] Calling cleanup for lp_generic_static.
Mar 10 11:35:36 [~] Responder: Response sent.
Mar 10 11:35:47 [~] Worker 0: Handling response.
Mar 10 11:35:47 [!] Could not parse content length.
Mar 10 11:35:47 [-] Calling handler for lp_app_logout.
Mar 10 11:35:47 [~] NOIP "GET /app/logout" 200 966 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:47 [-] Acceptor: Number of items on the queue: 0
Mar 10 11:35:47 [-] Calling cleanup for lp_app_logout.
Mar 10 11:35:47 [~] Responder: Response sent.
Mar 10 11:35:47 [~] Worker 1: Handling response.
Mar 10 11:35:47 [~] Worker 0: Handling response.
Mar 10 11:35:47 [!] Could not parse content length.
Mar 10 11:35:47 [!] Could not parse content length.
Mar 10 11:35:47 [-] Calling handler for lp_generic_static.
Mar 10 11:35:47 [~] NOIP "GET /static/css/main.css" 200 1263 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:47 [-] Acceptor: Number of items on the queue: 3
Mar 10 11:35:47 [~] Worker 0: Handling response.
Mar 10 11:35:47 [!] Could not parse content length.
Mar 10 11:35:47 [-] Calling handler for lp_generic_static.
Mar 10 11:35:47 [~] NOIP "GET /static/css/dashboard.css" 200 733 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:47 [-] Acceptor: Number of items on the queue: 2
Mar 10 11:35:47 [~] Worker 0: Handling response.
Mar 10 11:35:47 [!] Could not parse content length.
Mar 10 11:35:47 [-] Calling handler for lp_generic_static.
Mar 10 11:35:47 [~] NOIP "GET /static/js/vue-min.js" 200 93670 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:47 [-] Acceptor: Number of items on the queue: 1
Mar 10 11:35:47 [~] Worker 0: Handling response.
Mar 10 11:35:47 [!] Could not parse content length.
Mar 10 11:35:47 [-] Calling handler for lp_generic_static.
Mar 10 11:35:47 [~] NOIP "GET /static/js/dashboard.js" 200 2275 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:47 [-] Acceptor: Number of items on the queue: 0
Mar 10 11:35:47 [-] Calling handler for lp_generic_static.
Mar 10 11:35:47 [~] NOIP "GET /static/css/simple-grid-min.css" 200 1658 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:47 [-] Acceptor: Number of items on the queue: 0
Mar 10 11:35:47 [-] Calling cleanup for lp_generic_static.
Mar 10 11:35:47 [~] Responder: Response sent.
Mar 10 11:35:47 [-] Calling cleanup for lp_generic_static.
Mar 10 11:35:47 [~] Responder: Response sent.
Mar 10 11:35:47 [-] Calling cleanup for lp_generic_static.
Mar 10 11:35:47 [~] Responder: Response sent.
Mar 10 11:35:47 [-] Calling cleanup for lp_generic_static.
Mar 10 11:35:47 [~] Responder: Response sent.
Mar 10 11:35:47 [-] Calling cleanup for lp_generic_static.
Mar 10 11:35:47 [~] Responder: Response sent.
Mar 10 11:35:51 [~] Worker 0: Handling response.
Mar 10 11:35:51 [!] Could not parse content length.
Mar 10 11:35:51 [-] Calling handler for lp_root_handler.
Mar 10 11:35:51 [~] NOIP "GET /" 200 1845 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:51 [-] Acceptor: Number of items on the queue: 0
Mar 10 11:35:51 [-] Calling cleanup for lp_root_handler.
Mar 10 11:35:51 [~] Responder: Response sent.
Mar 10 11:35:51 [~] Worker 1: Handling response.
Mar 10 11:35:51 [~] Worker 0: Handling response.
Mar 10 11:35:51 [!] Could not parse content length.
Mar 10 11:35:51 [!] Could not parse content length.
Mar 10 11:35:51 [-] Calling handler for lp_generic_static.
Mar 10 11:35:51 [-] Calling handler for lp_generic_static.
Mar 10 11:35:51 [~] NOIP "GET /static/css/main.css" 200 1263 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:51 [-] Acceptor: Number of items on the queue: 2
Mar 10 11:35:51 [~] Worker 0: Handling response.
Mar 10 11:35:51 [~] NOIP "GET /static/css/simple-grid-min.css" 200 1658 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:51 [-] Acceptor: Number of items on the queue: 1
Mar 10 11:35:51 [-] Calling cleanup for lp_generic_static.
Mar 10 11:35:51 [!] Could not parse content length.
Mar 10 11:35:51 [-] Calling handler for lp_generic_static.
Mar 10 11:35:51 [~] NOIP "GET /static/js/vue-min.js" 200 93670 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:51 [-] Acceptor: Number of items on the queue: 0
Mar 10 11:35:51 [~] Worker 1: Handling response.
Mar 10 11:35:51 [!] Could not parse content length.
Mar 10 11:35:51 [-] Calling handler for lp_generic_static.
Mar 10 11:35:51 [~] NOIP "GET /static/js/front-page.js" 200 1542 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:51 [-] Acceptor: Number of items on the queue: 0
Mar 10 11:35:51 [~] Responder: Response sent.
Mar 10 11:35:51 [-] Calling cleanup for lp_generic_static.
Mar 10 11:35:51 [~] Responder: Response sent.
Mar 10 11:35:51 [-] Calling cleanup for lp_generic_static.
Mar 10 11:35:51 [~] Responder: Response sent.
Mar 10 11:35:51 [-] Calling cleanup for lp_generic_static.
Mar 10 11:35:51 [~] Responder: Response sent.
Mar 10 11:35:54 [~] Worker 0: Handling response.
Mar 10 11:35:54 [-] Calling handler for lp_api_user_login.
Mar 10 11:35:54 [-] Hash: $s1$0e0810$yI4YoMuzSU+1p6d2iXtCaw==$VubdA9b5ns/5T7NO/buurnaVnjf2HFw7pxDvpDHwwhK8daErfeeLbxyHc0dBSmz9kj4F9eMOUAu0tf2xQpWljg==
Mar 10 11:35:55 [~] NOIP "POST /api/user/login" 200 65 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:55 [-] Acceptor: Number of items on the queue: 0
Mar 10 11:35:55 [-] Calling cleanup for lp_api_user_login.
Mar 10 11:35:55 [~] Responder: Response sent.
Mar 10 11:35:55 [~] Worker 1: Handling response.
Mar 10 11:35:55 [!] Could not parse content length.
Mar 10 11:35:55 [-] Calling handler for lp_app_main.
Mar 10 11:35:55 [~] NOIP "GET /app" 200 1236 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:55 [-] Acceptor: Number of items on the queue: 0
Mar 10 11:35:55 [-] Calling cleanup for lp_app_main.
Mar 10 11:35:55 [~] Responder: Response sent.
Mar 10 11:35:55 [~] Worker 0: Handling response.
Mar 10 11:35:55 [!] Could not parse content length.
Mar 10 11:35:55 [-] Calling handler for lp_generic_static.
Mar 10 11:35:55 [~] NOIP "GET /static/css/simple-grid-min.css" 200 1658 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:55 [-] Acceptor: Number of items on the queue: 0
Mar 10 11:35:55 [-] Calling cleanup for lp_generic_static.
Mar 10 11:35:55 [~] Responder: Response sent.
Mar 10 11:35:55 [~] Worker 1: Handling response.
Mar 10 11:35:55 [~] Worker 0: Handling response.
Mar 10 11:35:55 [!] Could not parse content length.
Mar 10 11:35:55 [-] Calling handler for lp_generic_static.
Mar 10 11:35:55 [~] NOIP "GET /static/css/main.css" 200 1263 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:55 [-] Acceptor: Number of items on the queue: 2
Mar 10 11:35:55 [~] Worker 1: Handling response.
Mar 10 11:35:55 [-] Calling cleanup for lp_generic_static.
Mar 10 11:35:55 [~] Responder: Response sent.
Mar 10 11:35:55 [!] Could not parse content length.
Mar 10 11:35:55 [-] Calling handler for lp_generic_static.
Mar 10 11:35:55 [~] NOIP "GET /static/css/dashboard.css" 200 733 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:55 [-] Calling cleanup for lp_generic_static.
Mar 10 11:35:55 [~] Responder: Response sent.
Mar 10 11:35:55 [-] Acceptor: Number of items on the queue: 1
Mar 10 11:35:55 [~] Worker 0: Handling response.
Mar 10 11:35:55 [!] Could not parse content length.
Mar 10 11:35:55 [-] Calling handler for lp_generic_static.
Mar 10 11:35:55 [~] NOIP "GET /static/js/vue-min.js" 200 93670 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:55 [-] Acceptor: Number of items on the queue: 0
Mar 10 11:35:55 [-] Calling cleanup for lp_generic_static.
Mar 10 11:35:55 [~] Responder: Response sent.
Mar 10 11:35:55 [!] Could not parse content length.
Mar 10 11:35:55 [-] Calling handler for lp_generic_static.
Mar 10 11:35:55 [~] NOIP "GET /static/js/dashboard.js" 200 2275 "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/80.0.3987.87 Chrome/80.0.3987.87 Safari/537.36"
Mar 10 11:35:55 [-] Acceptor: Number of items on the queue: 0
Mar 10 11:35:55 [-] Calling cleanup for lp_generic_static.
Mar 10 11:35:55 [~] Responder: Response sent.
					</pre>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="/static/js/vue-min.js"></script>
	<script type="text/javascript" src="/static/js/dashboard.js"></script>
</html>
<!-- vim: noet ts=4 sw=4:
-->
