<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" media="all" href="/static/css/simple-grid-min.css" />
		<link rel="stylesheet" media="all" href="/static/css/main.css" />
	<body>
		<div id="app" class="main container">
			<div class="working_header row bloodbox">
				<div class="col-8">
					<h3>logproj</h3>
				</div>
				<div class="col-3">
					<ul class="logged_in_list">
						<li><a href="#">qpfiffer@gmail.com</a></li>
						<li><a href="#">Logout</a></li>
					</ul>
				</div>
			</div>
			<div>
				<h2>OOPS</h2>
				<p>There was an error processing your request.</p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="/static/js/vue-min.js"></script>
	<script type="text/javascript" src="/static/js/dashboard.js"></script>
</html>
<!-- vim: noet ts=4 sw=4:
-->
