<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" media="all" href="/static/css/simple-grid-min.css" />
		<link rel="stylesheet" media="all" href="/static/css/main.css" />
	<body>
		<div class="main container">
			<div class="row">
				<div class="col-2"></div>
				<div class="col-8">
					<h1>logproj</h1>
					<p><code>logproj</code> is simple.</p>
				</div>
				<div class="col-2"></div>
			</div>
		</div>
	</body>
</html>
<!-- vim: noet ts=4 sw=4:
-->
