<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		xXx SCREAM templates/includes/_css.html xXx
	</head>
	<body>
		<div id="app" class="main container">
			<div class="row bloodbox">
				<div class="col-2"></div>
				<div class="col-8">
					<h1 class="center">logproj</h1>
					<p><code>logproj</code> is simple. Make a user. Get an <code>API key.</code> Send stuff to <code>logproj</code>. Look at that stuff later, maybe?</p>
				</div>
				<div class="col-2"></div>
			</div>
			<div class="row bloodbox">
				<div class="col-2"></div>
				<div class="col-8">
					<form method="POST">
						xXx UNLESS NOT @email_address xXx
							<input type="text" name="email_address" placeholder="Email Address" value="xXx @email_address xXx" />
						xXx ENDLESS xXx
						xXx UNLESS @email_address xXx
							<input type="text" name="email_address" placeholder="Email Address" />
						xXx ENDLESS xXx
						<input type="password" name="password" placeholder="Password"/>
						xXx UNLESS NOT @errors xXx
							<ul>
							xXx LOOP error errors xXx
								<li class="error">xXx @error xXx</li>
							xXx BBL xXx
							</ul>
						xXx ENDLESS xXx
						<div class="row">
							<div class="col-6 buttonHolder">
								<input type="submit" name="submit" value="Log In" />
							</div>
							<div class="col-6 buttonHolder">
								<input type="submit" name="submit" value="Sign Up" />
							</div>
						</div>
					</form>
				</div>
		</div>
	</body>
</html>
<!-- vim: noet ts=4 sw=4:
-->
