<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" media="all" href="/static/css/simple-grid-min.css" />
		<link rel="stylesheet" media="all" href="/static/css/main.css" />
	<body>
		<div id="app" class="main container">
			<div class="row bloodbox">
				<div class="col-2"></div>
				<div class="col-8">
					<h1 class="center">logproj</h1>
					<p><code>logproj</code> is simple. Make a user. Get an <code>API key.</code> Send stuff to <code>logproj</code>. Look at that stuff later, maybe?</p>
				</div>
				<div class="col-2"></div>
			</div>
			<div class="row bloodbox">
				<div class="col-3"></div>
				<div class="col-6">
					<form method="POST">
						<input type="text" name="email_address" placeholder="Email Address" />
						<input type="password" name="password" placeholder="Password"/>
						<div class="center"><button>Sign Up</button></div>
					</form>
				</div>
				<div class="col-3"></div>
		</div>
	</body>
	<script src="/static/js/vue.js"></script>
	<script>
		main();
	</script>
</html>
<!-- vim: noet ts=4 sw=4:
-->
