<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" media="all" href="/static/css/simple-grid-min.css" />
		<link rel="stylesheet" media="all" href="/static/css/main.css" />
		<link rel="stylesheet" media="all" href="/static/css/dashboard.css" />
	<body>
		<div id="app" class="main">
			xXx SCREAM templates/includes/_dashboard_header.html xXx
			<div class="container">
				<div class="center_column">
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="/static/js/vue-min.js"></script>
	<script type="text/javascript" src="/static/js/dashboard.js"></script>
</html>
<!-- vim: noet ts=4 sw=4:
-->
